body {
	margin: 0px;
	background-image: url(../images/template/bg.jpg);
	background-repeat: repeat-x;
}

#ui-datepicker-div { display: none; }

.bg1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #000000;
	padding-right: 10px;
	padding-left: 10px;
}
.footer_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
	padding-left: 10px;
}

.txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}

.bg_footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #444444;
	padding-right: 10px;
	padding-left: 10px;
}
.bg_left {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #EDEDED;
	border: 1px solid #CCCCCC;
	padding: 3px;
}
.txt_blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #09569C;
	text-decoration: none;
}
.txt_red {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}
.bg_center {
	background-color: #EDEDED;
	border: 3px solid #CCCCCC;
	padding: 5px;
}
.bg_maroon {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #a50000;
}

.txt_white {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}


A:link {color: #000000; font-weight:NORMAL; font-size: 8pt; font-family: Arial;text-decoration:none;}
A:visited {color: #000000; font-weight:NORMAL; font-size: 8pt; font-family: Arial;text-decoration:none;}
A:active {color: #000000; font-weight:NORMAL; font-size: 8pt; font-family: Arial;text-decoration:none;}
A:hover { COLOR: #3a604b;text-decoration:underline;}

TABLE { font-family: Arial, Verdana; font-weight: NORMAL; font-size:8pt; color:#000000; text-align:left;}
TD { font-family: Arial, Verdana; font-weight: NORMAL; font-size:8pt; color:#000000;}
TH { font-family: Arial, Verdana; font-weight: BOLD; font-size:8pt; color:#395584; }
FORM { display: inline; }

.normtext { font-family: Arial, Verdana; font-weight: NORMAL; font-size:12px; color:#000000; }
.redtext { font-family: Arial, Verdana; font-weight: NORMAL; font-size:12px; color:RED; }


.news { font-family: Arial; font-weight: BOLD; font-size:9pt; color:#EAE3D3; }
.menus { font-family: Verdana, Arial; font-weight: BOLD; font-size:9px; color:#EAE3D3; }
.smalltext { FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial }
.form1 { font-family: Tahoma, Arial; font-size: 10px; font-weight: bold; color: #58647E; background-color: #FFFFFF; border: 1px solid #999999; vertical-align: middle}
.form2 { font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 16px; font-weight: normal; color: #58647E; background-color: #FFFFFF; border: 1px solid #999999; vertical-align: middle}
.form3 { font-family: Verdana, Arial, Helvetica; font-size: 10px; font-weight: bold; color: gray; background-color: #FFFFFF; border: 0px; vertical-align: middle}
.scrolltext { font-family: Arial; font-weight: BOLD; font-size:9pt; color:#000000; }
.scrolltext2 { font-family: Arial, Verdana; font-weight: BOLD; font-size:8pt; color:#000000; }

.form1_disabled { font-family: Verdana, Arial, Helvetica; font-size: 10px; font-weight: bold; color: #58647E; background-color: #ece9d8; border: 1px solid #999999; vertical-align: middle;}

.menus { font-family: Arial, Verdana; font-weight: BOLD; font-size:11px; color:#680D0D; }
.adminheading { font-family: Arial; font-weight: BOLD; font-size:12pt; color:#000000; }
.heading { font-family: Arial; font-weight: BOLD; font-size:12pt; color:#000000; }
.heading2 { font-family: Arial; font-weight: BOLD; font-size:10pt; color:#000000; }
.heading3 { font-family: Arial; font-weight: BOLD; font-size:16px; color:#000000; }
.headline { font-family: arial black, arial; font-size: 28px; letter-spacing: -2px;}
.headline2 { font-family: arial black, arial; font-size: 12px; letter-spacing: -2px; color:red}
.headline4 { font-family: verdana; font-size: 18px; letter-spacing: -2px; color:blue;}
.disclaimer { font-family: Arial, Verdana; font-weight: NORMAL; font-size:8pt; color:#5B6A8E; }
.maintext { font-family: Arial, Verdana; font-weight: NORMAL; font-size:8pt; color:#000000; }
.largetext { font-family: Arial, Verdana; font-weight: NORMAL; font-size:10pt; color:#000000; }
.blacktext { font-family: Verdana; font-weight: bold; font-size:8pt; color:#000000; }
.errormessage { font-family: Verdana; font-weight: bold; font-size:8pt; color:#000000; }
.boldtext { font-family: Arial, Verdana; font-weight: BOLD; font-size:8pt; color:#000000; }

.middleText { font-family: Verdana; font-weight: NORMAL; font-size:12pt; color:#395584; }
.BoldMessages { font-family: Arial, Verdana; font-weight: BOLD; font-size:12px; color:#395584; }

.WhiteHeading2 { font-family: Arial, Verdana; font-weight: BOLD; font-size:14px; color:#FFFFFF; }

.headerlink  { color: #555; font-size: 10px; font-family: Geneva, Arial, Helvetica, Swiss, SunSans-Regular; text-decoration: none; letter-spacing: 1px; }

.GrayText { font-family: Arial, Verdana; font-weight: NORMAL; font-size:8pt; color:gray; }


.dividergrayh { BACKGROUND: url(../images/dot-gray.gif) repeat-x left top }
.dividergrayv { BACKGROUND: url(../images/dot-gray.gif) repeat-y left top }

SPAN.TreeviewSpanArea A { font-family: Arial, Verdana; font-weight: NORMAL; font-size:8pt; color:#000000; }
SPAN.TreeviewSpanArea A:hover { color:#820082; }


#dhtmltooltip{ position: absolute; width: 150px; border: 2px solid black; padding: 2px; background-color: lightyellow; visibility: hidden; z-index: 100; /*Remove below line to remove shadow. Below line should always appear last within this CSS*/ filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135); }

#bordermessage {
  font-size: 12px;
  text-align: center;
  margin: 0px 0px;
  padding: 10px 0px;
  color: #999;
  background: #f7f7f7;
  border: solid 1px #ddd; }

#helpmessage {
  font-size: 12px;
  text-align: justify;
  margin: 0px 0px;
  padding: 10px 10px;
  color: #999;
  background: #f7f7f7;
  border: solid 1px #ddd; }

.graybutton { font-family: Verdana, Arial, Helvetica; font-size: 10px; font-weight: normal; color: #58647E; background-color: #f7f7f7; border: solid 1px #395584; vertical-align: middle }

.profileheader {
  margin: 0px;
  padding: 2px 8px;
  font-size: 11px;
  font-weight: bold;
  color: #3B5998;
  background: #D8DFEA;
  border-top: solid 1px #3B5998; }

  .witheditlink { text-align: right; }
  .witheditlink h2 { float: left; }
 
.formbutton2 { border-style: solid; border-top-width: 1px; border-left-width: 1px; border-bottom-width: 1px; border-right-width: 1px; border-top-color: #D9DFEA; border-left-color: #D9DFEA; border-bottom-color: #0e1f5b; border-right-color: #0e1f5b; background-color: #336699; color: #FFFFFF; font-size: 11px; padding: 0px; font-family: "lucida grande", tahoma, verdana, arial, sans-serif; }
.formbutton3 { font-family:verdana, arial; font-size:10px; }


.AdminHeader { font-family:Arial, Verdana; font-size:19px; Color: #003366; }

.AdminFormButton1 {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  background-color: transparent;
  background-image: url(../images/ButtonBG.gif);
  border: 0 solid white;
  background-repeat: no-repeat;
  width:100px; height:21px;
}


.AdminFormButtonOk {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  background-color: transparent;
  background-image: url(../images/ButtonBG_Ok.gif);
  border: 0 solid white;
  background-repeat: no-repeat;
  width:91px; height:21px;
}


.AdminFormButtonCancel {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  background-color: transparent;
  background-image: url(../images/ButtonBG_Cancel.gif);
  border: 0 solid white;
  background-repeat: no-repeat;
  width:91px; height:21px;
}


.AdminFormButtonRemove {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  background-color: transparent;
  background-image: url(../images/ButtonBG_Remove.gif);
  border: 0 solid white;
  background-repeat: no-repeat;
  width:91px; height:21px;
}




.ControlPanelHomeLinks { text-decoration:none; font-family: Arial; font-weight: BOLD; font-size:12pt; color:maroon; }


.VerdanaBold12 { font-family:Verdana, Arial; font-weight:BOLD; font-size:12px; }
.VerdanaNormal12 { font-family:Verdana, Arial; font-weight:NORMAL; font-size:12px; }


.ReportTitle { font-family:Arial, Tahoma; font-size:20px; font-weight:bold; color:green; }
.ReportDate { font-family:Arial, Tahoma; font-size:12px; font-weight:bold; }

.GridTable { background-color:#ffffff; border: 2px; border-style: solid; border-color:#c6c6c6; border-collapse: collapse; }
.GridTR { background-color:#808179; }
.GridTD { border: 1px solid #d7d7d7; } 
.GridReport { background-color:#e1e1e1; }

.WhiteHeading { font-family: Arial, Verdana; font-weight: bold; font-size:12px; color:#FFFFFF; }
.BlackHeading { font-family: Arial, Verdana; font-weight: bold; font-size:12px; color:#000000; }

.formbutton {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  background-color: transparent;
  background-image: url(../images/ButtonBG.gif);
  border: 0 solid white;
  background-repeat: no-repeat;
  width:100px; height:21px;
}

.Details_Title { font-size: 18px; color: #000000; font-weight: bold; font-style:italic; font-family: Times New Roman, Arial, Verdana }
.Details_Title_TR { background-color:#808179; }

.title2 { font-size: 18px; color: #ffffff; font-weight: bold; font-style:italic; font-family: Times New Roman, Arial, Verdana }
.Tahoma16 { font-family: Tahoma, Arial; font-size:16px; font-weight:normal; }
.Tahoma12 { font-family: Tahoma, Arial; font-size:12px; font-weight:normal; }
.Tahoma14 { font-family: Tahoma, Arial; font-size:14px; font-weight:normal; }

.Help_Title { font-family: Tahoma, Arial; font-size:22px; }
.Help_Title2 { font-family: Tahoma, Arial; font-size:12px; font-weight:bold; }
.Help_Contents { font-family: Tahoma, Arial; font-size:13px; }